.h-bg-vacancies{
	background:#000 url('../image/5.jpg') no-repeat top center;
	max-width: 100%;
	background-size: cover;
	-webkit-background-size:cover ;
	-moz-background-size:cover ;
	height: 14.2em;
}

.vacancy-name h2{
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	font-weight: bold;
	color: #3E4156;
}




.vacancy-selection input{
	display: none;
}

.vacancy-selection span{
	display: inline-block;
	text-align: left;
	width: 90%;

}

.vacancy-select{
	margin-bottom: 2em;
	font-size: 1em;
	background-color: #BEBEBE;
	padding-top: 0.5em;
	padding-right: 0.5em;
	padding-left: 0.5em;
	padding-bottom: 0.5em;
	border:1px solid #828282;
}

.salary-row{
	/*outline: 2px dashed blue;*/
	border: 2px solid #D0D0D0;

}

.salary{
	/*outline: 2px dashed red;*/
	display: inline-block;
	margin-left: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
}

.salary h4{
	font-weight: bold;
	color:#3E4156;
}

.salary p{
	color:#A2A2A2;
}

.vacancy-text{
	/*outline: 2px dashed blue;*/
	margin-top: 2em;
	margin-bottom: 2em;

}

.vacancy-choose :checked+span{
	color: white;
	font-weight: bold;
	border:1px solid red;
	background-color: #3E4156;

}

.vacancy-form{
	/*outline: 2px dashed green;*/
	width: 90%;
	display: inline-block;
}

.vacancy-form h3{
	margin-top: 1em;
	margin-bottom: 1em;
	font-weight: bold;
	color: #3E4156;
}

.vacancy-form p{
	margin-bottom: 1em;
}

.vacancy-form input{
	height: 3em;
	width: 70%;
	font-size: 0.9em;
}

.vacancy-form label{
	font-weight: bold;
	color: #3E4156;
}

#profession1,#profession2,#profession3>p{
	text-align: left;
	padding-left: 1em;
}



.vacancy-text h3{
font-weight: bold;
margin-top: 0.5em;
margin-bottom: 0.5em;
}

.myParagraf{
	font-weight: bold;
	margin-top: 1em;
	color:#3E4156;

}



select{
	font-size: 1em;
	text-align: center;

}

option{
	height: 2em;
	font-size: 1.3em;
}


.mySwitch h3{
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	color:#3E4156;
}

.buttonVacancies input{
	border:1px solid red;
	background-color:#C4C4C4;
	font-weight: bold;
}

@media only screen and (min-width : 280px) and (max-width : 479px){

	.h-bg-vacancies{
		height: 8em;
	}

}

@media only screen and (min-width : 480px) and (max-width : 629px){

	.h-bg-vacancies{
		height: 9em;
	}
}

@media only screen and (min-width : 630px) and (max-width : 767px){

	.salary{
		margin-left: 0.5em;
		padding-left: 0;
	}

	.salary h4{
		font-size: 0.9em;
	}

	.salary p{
		font-size: 0.9em;
	}


	.vacancy-selection span{
		width: 80%;
	}

	.vacancy-select{
		font-size: 0.9em;
		margin-bottom: 1em;
		padding-top: 0.2em;
		padding-bottom: 0.2em;
	}

	.vacancy-form input{
		height: 2.4em;
		width: 80%;
		font-size: 0.8em;
	}

	option{
		height: 1.7em;
		font-size: 1.2em;
	}


	select{
		font-size: 0.9em;
	}

	.mySwitch h3{
		font-size: 0.9em;
	}

	.vacancy-form h3{
		font-size: 0.9em;
	}

	.vacancy-name h2{
		font-size: 1.2em;
	}

	.h-bg-vacancies{
		height: 14.2em;
	}

	.vacancy-name{
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.vacancy-form{
		display: inline-block;
		margin-left: 2em;
	}

	#profession1,#profession2,#profession3>p{
		text-align: left;
		padding-left: 1em;
		font-size: 0.9em;
	}

	.h-bg-vacancies{
		height: 9.5em;
	}

}

@media only screen and (min-width : 767px) and (max-width : 849px) {


.container .cols.col-1{width: 8.333333333333333%;}
  .container .cols.col-2{width: 16.66666666666667%;}
  .container .cols.col-3{width: 25%;}
  .container .cols.col-4{width: 33.33333333333333%;}
  .container .cols.col-5{width: 41.66666666666667%;}
  .container .cols.col-6{width: 50%;}
  .container .cols.col-7{width: 58.33333333333333%;}
  .container .cols.col-8{width: 66.66666666666667%;}
  .container .cols.col-9{width: 75%;}
  .container .cols.col-10{width: 83.33333333333333%;}
  .container .cols.col-11{width: 91.66666666666667%;}
  .container .cols.col-12{width: 100%}


	.salary{
		margin-left: 0.5em;
		padding-left: 0;
	}

	.salary h4{
		font-size: 0.9em;
	}

	.salary p{
		font-size: 0.9em;
	}


	.vacancy-selection span{
		width: 80%;
	}

	.vacancy-select{
		font-size: 0.9em;
		margin-bottom: 1em;
		padding-top: 0.2em;
		padding-bottom: 0.2em;
	}

	.vacancy-form input{
		height: 2.4em;
		width: 80%;
		font-size: 0.8em;
	}

	option{
		height: 1.7em;
		font-size: 1.2em;
	}


	select{
		font-size: 0.9em;
	}

	.mySwitch h3{
		font-size: 0.9em;
	}

	.vacancy-form h3{
		font-size: 0.9em;
	}

	.vacancy-name h2{
		font-size: 1.2em;
	}

	.h-bg-vacancies{
		height: 15em;
	}

	.vacancy-name{
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.vacancy-form{
		display: inline-block;
		margin-left: 2em;
	}

	#profession1,#profession2,#profession3>p{
		text-align: left;
		padding-left: 1em;
		font-size: 0.9em;
	}


}

@media screen and (min-width: 850px) and (max-width:991px) {

  .container .cols.col-1{width: 8.333333333333333%;}
  .container .cols.col-2{width: 16.66666666666667%;}
  .container .cols.col-3{width: 25%;}
  .container .cols.col-4{width: 33.33333333333333%;}
  .container .cols.col-5{width: 41.66666666666667%;}
  .container .cols.col-6{width: 50%;}
  .container .cols.col-7{width: 58.33333333333333%;}
  .container .cols.col-8{width: 66.66666666666667%;}
  .container .cols.col-9{width: 75%;}
  .container .cols.col-10{width: 83.33333333333333%;}
  .container .cols.col-11{width: 91.66666666666667%;}
  .container .cols.col-12{width: 100%}

	.salary{
		margin-left: 0.5em;
		padding-left: 0;
	}

	.salary h4{
		font-size: 0.9em;
	}

	.salary p{
		font-size: 0.9em;
	}


	.vacancy-selection span{
		width: 80%;
	}

	.vacancy-select{
		font-size: 0.9em;
		margin-bottom: 1em;
		padding-top: 0.2em;
		padding-bottom: 0.2em;
	}

	.vacancy-form input{
		height: 2.4em;
		width: 80%;
		font-size: 0.8em;
	}

	option{
		height: 1.7em;
		font-size: 1.2em;
	}


	select{
		font-size: 0.9em;
	}

	.mySwitch h3{
		font-size: 1em;
	}

	.vacancy-form h3{
		font-size: 1em;
	}

	.vacancy-name h2{
		font-size: 1.3em;
	}

	.h-bg-vacancies{
		height: 15em;
	}

	.vacancy-name{
		margin-top: 1em;
		margin-bottom: 1em;
	}

	.vacancy-form{
		display: inline-block;
		margin-left: 2em;
	}

	#profession1,#profession2,#profession3>p{
		text-align: left;
		padding-left: 1em;
		font-size: 0.95em;
	}
}

@media screen and (min-width : 991px) and (max-width : 1023px){

	.container .cols.col-1{width: 8.333333333333333%;}
  .container .cols.col-2{width: 16.66666666666667%;}
  .container .cols.col-3{width: 25%;}
  .container .cols.col-4{width: 33.33333333333333%;}
  .container .cols.col-5{width: 41.66666666666667%;}
  .container .cols.col-6{width: 50%;}
  .container .cols.col-7{width: 58.33333333333333%;}
  .container .cols.col-8{width: 66.66666666666667%;}
  .container .cols.col-9{width: 75%;}
  .container .cols.col-10{width: 83.33333333333333%;}
  .container .cols.col-11{width: 91.66666666666667%;}
  .container .cols.col-12{width: 100%}

  .h-bg-vacancies{
  	height: 14em;
  }

}

@media only screen and (min-width : 1024px) and (max-width : 1199px){

	.container .cols.col-1{width: 8.333333333333333%;}
  .container .cols.col-2{width: 16.66666666666667%;}
  .container .cols.col-3{width: 25%;}
  .container .cols.col-4{width: 33.33333333333333%;}
  .container .cols.col-5{width: 41.66666666666667%;}
  .container .cols.col-6{width: 50%;}
  .container .cols.col-7{width: 58.33333333333333%;}
  .container .cols.col-8{width: 66.66666666666667%;}
  .container .cols.col-9{width: 75%;}
  .container .cols.col-10{width: 83.33333333333333%;}
  .container .cols.col-11{width: 91.66666666666667%;}
  .container .cols.col-12{width: 100%}

  .h-bg-vacancies{
  	height: 14.5em;
  }

}

@media only screen and (min-width : 1199px) and (max-width : 1379px){

	.container .cols.col-1{width: 8.333333333333333%;}
  .container .cols.col-2{width: 16.66666666666667%;}
  .container .cols.col-3{width: 25%;}
  .container .cols.col-4{width: 33.33333333333333%;}
  .container .cols.col-5{width: 41.66666666666667%;}
  .container .cols.col-6{width: 50%;}
  .container .cols.col-7{width: 58.33333333333333%;}
  .container .cols.col-8{width: 66.66666666666667%;}
  .container .cols.col-9{width: 75%;}
  .container .cols.col-10{width: 83.33333333333333%;}
  .container .cols.col-11{width: 91.66666666666667%;}
  .container .cols.col-12{width: 100%}

	.h-bg-vacancies{
		height: 14.2em;
	}

	.vacancy-name{
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.vacancy-form{
		display: inline-block;
		margin-left: 2em;
	}
}

@media only screen and (min-width : 1379px) and (max-width : 1920px){

	.container .cols.col-1{width: 8.333333333333333%;}
  .container .cols.col-2{width: 16.66666666666667%;}
  .container .cols.col-3{width: 25%;}
  .container .cols.col-4{width: 33.33333333333333%;}
  .container .cols.col-5{width: 41.66666666666667%;}
  .container .cols.col-6{width: 50%;}
  .container .cols.col-7{width: 58.33333333333333%;}
  .container .cols.col-8{width: 66.66666666666667%;}
  .container .cols.col-9{width: 75%;}
  .container .cols.col-10{width: 83.33333333333333%;}
  .container .cols.col-11{width: 91.66666666666667%;}
  .container .cols.col-12{width: 100%}

	.h-bg-vacancies{
		height: 14.2em;
	}

	.vacancy-name{
		margin-top: 2em;
		margin-bottom: 2em;
	}

	.vacancy-form{
		display: inline-block;
		margin-left: 2em;
	}

}