@media only screen and (min-width : 480px) and (max-width : 629px){

    .name-moving h1{font-size:1.6em;}

    .name-text-moving{font-size:1.2em; }

    .andText p{font-size: 1.2em;}

    .avtoGazel{width: 35%;}

    .avtoZil{width: 35%;}

    .avtoKamaz{width: 35%}

    .avtoMan{width: 35%;}

    .avto button{width: 35%;}

    .button{width: 35%;}
}
	
