
@media only screen and (min-width : 280px) and (max-width : 479px){
    
    .name-moving h1{font-size:1.4em; }

    .name-moving-header{
        font-size: 1.3em;
        padding-top: 0.4em;
    }

    .name-text-moving{font-size:1em; }

    .andText p{font-size: 1.1em;}

    .avtoGazel1{width: 60%;}

    .avtoZil{width: 50%;}

    .avtoKamaz{width: 60%}

    .avtoGazel{width: 50%}

    .avtoMan{width: 50%;}
    
    .button{width: 50%;}
}

	

