@media only screen and (min-width : 767px) and (max-width : 849px) {


    .container .cols.col-1{width: 8.333333333333333%;}
    .container .cols.col-2{width: 16.66666666666667%;}
    .container .cols.col-3{width: 25%;}
    .container .cols.col-4{width: 33.33333333333333%;}
    .container .cols.col-5{width: 41.66666666666667%;}
    .container .cols.col-6{width: 50%;}
    .container .cols.col-7{width: 58.33333333333333%;}
    .container .cols.col-8{width: 66.66666666666667%;}
    .container .cols.col-9{width: 75%;}
    .container .cols.col-10{width: 83.33333333333333%;}
    .container .cols.col-11{width: 91.66666666666667%;}
    .container .cols.col-12{width: 100%;}
    
    .h-bg-moving{
        height: 15em;
    }

    .name-moving-header{
        font-size:1.3em;
        padding-top: 0.4em;
    }

    .name-moving h1{font-size:1.8em; line-height: 1.2em;}
    .andText p{font-size:1.3em; }


    .name-moving h1{font-size:1.8em;}

    .name-text-moving{font-size:1.4em; }

    .andText p{font-size: 1.3em;}

    .avtoGazel{width: 70%;}

    .avtoGazel1{width: 70%;}

    .avtoZil{width: 70%;}

    .avtoKamaz{width: 70%;}

    .avtoMan{width: 80%;}

    .button{width: 70%;}

    
}