@media only screen and (min-width : 630px) and (max-width : 767px){



    .name-moving h1{font-size:1.8em;}

    .name-text-moving{font-size:1.4em; }

    .andText p{font-size: 1.3em;}

    .avtoGazel{width: 30%;}

    .avtoZil{width: 30%;}

    .avtoKamaz{width: 35%}

    .avtoMan{width: 30%;}

    .avto button{width: 35%;}

    .button{width: 35%;}
}

