
@media only screen and (min-width : 280px) and (max-width : 479px){
    
    .name-repair h1{
        font-size: 2em;
        line-height: 1.2em;
    }

    .name-text-repair p{
        margin-bottom:0.5em;
        font-size:1.5em;
    }

    .aboutServicesArmchairs{
    
        p{
            text-indent: 2em;
            margin-top: 1em;
            font-size: 1.2em;
            line-height: 1.5em;
            text-align: justify;
            color: #6f6f82;
        }
    }

    .servicesArmchairs{
        img{
            margin-top:1em;
        }
    }

    .servicesArmchairs{


        h4{
            margin:1em 0;
            font-size: 1.2em;
            width: 85%;
            display:inline-block;
        }
    
        ul{
            width: 85%;

            li{
                font-size: 1.2em;
                line-height: 1.5em;
            }
        }
    }

    .accessories{
        margin: 2em 0;
        h3{
            font-size: 1.6em;
            line-height: 1.2em;
            display: inline-block;
            width: 85%;
        }
        p{
            margin-top: 0.5em;
            font-size: 1.2em;
    
        }
    }

    .accessoriesList{

        overflow: hidden;
    
        img{
            display:inline-block;
            height: 10em;
        }
    
        .accessoriesImg_1{
            margin-top: 2em;
            img{width: 35%;}
        }
    
        .accessoriesImg_2{
            margin-top: 2em;
            img{width: 30%;}
        }
    
        .accessoriesImg_3{
            margin-top: 2em;
            img{width: 50%;}
        }
    
        .accessoriesImg_4{
            margin-top: 2em;
            img{width: 35%;}
        }
    
        .accessoriesImg_5{
            margin-top: 2em;
            img{width: 40%;}
        }
    
        .accessoriesImg_6{
            margin-top: 2em;
            img{width: 50%;}
        }
    
        .accessoriesImg_7{
            margin-top: 2em;
            img{width: 60%;}
        }
    
        .accessoriesImg_8{
            margin-top: 2em;
            img{width: 40%;}
        }
    
    
        .accessoriesText{
    
            p{
                display: inline-block;
                width: 80%;
                color: #6f6f82;
                font-size: 1.2em;
                text-align: justify;
            }
        }
        
    } 
}




	

