@media only screen and (min-width : 767px) and (max-width : 849px) {


    .container .cols.col-1{width: 8.333333333333333%;}
    .container .cols.col-2{width: 16.66666666666667%;}
    .container .cols.col-3{width: 25%;}
    .container .cols.col-4{width: 33.33333333333333%;}
    .container .cols.col-5{width: 41.66666666666667%;}
    .container .cols.col-6{width: 50%;}
    .container .cols.col-7{width: 58.33333333333333%;}
    .container .cols.col-8{width: 66.66666666666667%;}
    .container .cols.col-9{width: 75%;}
    .container .cols.col-10{width: 83.33333333333333%;}
    .container .cols.col-11{width: 91.66666666666667%;}
    .container .cols.col-12{width: 100%;}
    
    .name-repair h1{
        font-size: 2em;
        line-height: 1.2em;
    }

    .name-text-repair p{
        margin-bottom:0.5em;
        font-size:1.5em;
    }

    .aboutServicesArmchairs{
    
        p{
            text-indent: 2em;
            margin-top: 1em;
            font-size: 1.1em;
            line-height: 1.5em;
            text-align: justify;
            color: #6f6f82;
        }
    }

    .servicesArmchairs{
        img{
            margin-top:1em;
        }
    }

    .servicesArmchairs{


        h4{
            margin:1em 0;
            font-size: 1.2em;
            width: 85%;
            display:inline-block;
        }
    
        ul{
            width: 85%;

            li{
                font-size: 1em;
                line-height: 1.5em;
            }
        }
    }

    .accessories{
        margin: 2em 0;
        h3{
            font-size: 1.6em;
            line-height: 1.2em;
            display: inline-block;
            width: 85%;
        }
        p{
            margin-top: 0.5em;
            font-size: 1.2em;
    
        }
    }

    .accessoriesList{

        overflow: hidden;
    
        img{
            display:inline-block;
            height: 10em;
        }
    
        .accessoriesImg_1{
            margin-top: 2em;
            img{width: 80%;}
        }
    
        .accessoriesImg_2{
            margin-top: 2em;
            img{width: 60%;}
        }
    
        .accessoriesImg_3{
            margin-top: 2em;
            img{width: 60%;}
        }
    
        .accessoriesImg_4{
            margin-top: 2em;
            img{width: 60%;}
        }
    
        .accessoriesImg_5{
            margin-top: 2em;
            img{width: 60%;}
        }
    
        .accessoriesImg_6{
            margin-top: 2em;
            img{width: 60%;}
        }
    
        .accessoriesImg_7{
            margin-top: 2em;
            img{width: 90%;}
        }
    
        .accessoriesImg_8{
            margin-top: 2em;
            img{width: 90%;}
        }
    
    
        .accessoriesText{
    
            p{
                display: inline-block;
                width: 80%;
                color: #6f6f82;
                font-size: 1em;
                // text-align: justify;
            }
        }
        
    } 

    
}